

/*--------------------------------------------------------------
## Entry Header
--------------------------------------------------------------*/

.featured-image {
	@include full-width;
	@extend %square-ish;
	display: block; // for ones that are <a>
}

.entry-header {
	margin-bottom: 2rem;

	@media screen and ($large-up) {
		margin-bottom: 3rem;
	}
}


/*--------------------------------------------------------------
## Entry Content
--------------------------------------------------------------*/

.entry-content {
	display: flex;
	flex-direction: column;

	@media screen and ($large-up) {
		display: block;
	}
}

.note-sticky {
	background: $yellowlight;
	box-shadow: 0 0.25rem 1rem rgba($mediumlight, 1);
	font-family: $font__alt;
	margin-left: auto;
	margin-right: auto;
	order: 1;
	padding: 1rem 1.5rem;
	text-align: left;
	width: 14rem;

	p {
		font-size: $typesize__base; // reset
	}

	@media screen and ($large-up) {
		float: right;
		order: 0;
		margin-left: 2rem;
		margin-bottom: 2rem;
	}
}


/*--------------------------------------------------------------
## Entry Footer
--------------------------------------------------------------*/

.entry-footer {
	margin-top: 4rem;
	margin-bottom: 4rem;
	text-align: center;

	.tags-links {
		margin-bottom: 2rem;
	}
}

.song-link {
	font-family: $font__alt;
	margin-top: 2rem;
	margin-bottom: 3rem;

	.icon-music {
		margin-left: 0.25em;
		margin-right: 0.5em;
		vertical-align: middle;
	}

	.label {
		font-size: $typesize__tiny;
		letter-spacing: $font__letter-spacing;
		text-transform: uppercase;
	}

	.content {
		font-size: $typesize__small;
		font-style: italic;
	}
}

.related-posts {
	margin-top: 3rem;

	.heading-alt {
		text-align: center;
	}

	.thumbnail {
		border-radius: 50%;
		height: 4rem;
		margin: 0.5rem;
		overflow: hidden;
		width: 4rem;
	}

	.grid-container {
		margin-top: 2rem;
	}
}


/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/

// when an image is first, it behaves like a featured image
.home .wp-block-image:first-child {
	@extend %square-ish;
	margin-top: 0;
}

.home .site-main {
	padding-bottom: 0;
}

.secondary-content {
	margin-top: 3rem;

	.widget {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 1em;
	}

	.widget_media_image {
		margin-right: -1rem; // compensate for container padding
		overflow: hidden;
	}

	.image {
		display: block;
		margin-left: auto;
		margin-right: -5rem;
	}

	@media screen and ($medium-up) {
		display: flex;
		flex-direction: row-reverse;

		.widget_text {
			flex: 1;
		}

		.widget_media_image {
			margin-right: 0;
		}

		.image {
			margin-right: 0;
		}
	}
}


/*--------------------------------------------------------------
## Blog Page
--------------------------------------------------------------*/

.blog {

	.post {
		border-bottom: 1px solid var(--color__background-hr);
		margin-bottom: 3rem;
	}

	.entry-title a {
		text-decoration: none;
	}
}


/*--------------------------------------------------------------
## Miscellaneous
--------------------------------------------------------------*/

.updated:not(.published) {
	display: none;
}