
/*--------------------------------------------------------------
## Entry Header
--------------------------------------------------------------*/

.single .featured-image {
	@include full-width;
}

.entry-header {
	margin-bottom: 4rem;
	margin-top: 3rem;
}


/*--------------------------------------------------------------
## Entry Footer
--------------------------------------------------------------*/

.entry-footer {
	margin-top: 4rem;
	margin-bottom: 4rem;

	.tags-links {
		margin-bottom: 2rem;
	}
}

.song-link {
	font-family: $font__alt;
	margin-top: 2rem;
	margin-bottom: 3rem;

	.icon-music {
		margin-left: 0.25em;
		margin-right: 0.5em;
		vertical-align: middle;
	}

	.label {
		font-size: $typesize__tiny;
		letter-spacing: $font__letter-spacing;
		text-transform: uppercase;
	}

	.content {
		font-size: $typesize__small;
		font-style: italic;
	}
}

.related-posts {
	margin-top: 3rem;

	.heading-alt {
		text-align: center;
	}

	.thumbnail {
		border-radius: 50%;
		height: 4rem;
		margin: 0.5rem;
		overflow: hidden;
		width: 4rem;
	}

	.flex-container,
	.flex-container {
		display: flex;
		justify-content: center;
	}

	.grid-container {
		margin-top: 2rem;
	}
}


/*--------------------------------------------------------------
## Miscellaneous
--------------------------------------------------------------*/

.updated:not(.published) {
	display: none;
}