.updated:not(.published) {
	display: none;
}

.single {

	.featured-image .wp-post-image {
		@include full-width;
	}
}

.entry-header {
	margin-bottom: 4rem;
	margin-top: 3rem;
}

.entry-footer {
	margin-top: 4rem;
	margin-bottom: 4rem;
}