.card {
	background: $white;
	border-radius: $radius;
	border-bottom: 2px solid transparent;
	display: block;
	overflow: hidden;

	.text {
		padding: 1rem;
	}

	h3 {
		font-size: $typesize__h5;
		margin: 0;
	}

	p {
		font-size: $typesize__tiny;
		margin-bottom: 0;
	}

	&:hover,
	&:focus {
		border-color: $dark;
	}
}

.thumbnail {

	// account for non-square images
	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	&:hover,
	&:focus {
		transform: scale(1.06);
	}
}
