.card {
	background: $white;
	border-radius: $radius;
	border-bottom: 2px solid transparent;
	display: block;
	overflow: hidden;

	.text {
		padding: 1rem;
	}

	h3 {
		font-size: $typesize__h5;
		margin: 0;
	}

	.excerpt {
		font-family: $font__alt;
		font-size: $typesize__small;
		margin-top: 1em;

		p {
			margin-bottom: 0;
		}
	}

	.meta {
		font-size: $typesize__tiny;
	}

	&:hover,
	&:focus {
		border-color: $dark;
	}
}

.thumbnail {
	border-radius: $radius;
	display: -webkit-flex; // Safari
	overflow: hidden;

	// account for non-square images
	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	&:hover,
	&:focus {
		transform: scale(1.06);
	}
}
