.card {
	background: $white;
	border-radius: $radius;
	display: block;
	overflow: hidden;

	.text {
		padding: 1rem;
	}
}

// account for non-square images
.thumbnail img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}