
@import "abstracts/abstracts";

.editor-styles-wrapper {
	background-color: var(--color__background-body);
}

.wp-block-group.is-style-memo {
	background-color: $white;
	box-shadow: 0 0.25rem 1rem rgba($black, 0.1);
	font-family: $font__pre;
	padding: 2rem;
}