
@import "abstracts/abstracts";

.editor-styles-wrapper {
	background-color: var(--color__background-body);
	font-family: $font__main;
}

.wp-block-group.is-style-memo {
	background-color: $white;
	border-radius: $radius;
	box-shadow: 0 0.25rem 1rem rgba($black, 0.1);
	font-family: $font__pre;
	padding: 2rem;
}

.wp-block-heading.is-style-alt {
	font-family: var(--font__alt);
	font-size: $typesize__small;
	letter-spacing: $font__letter-spacing;
	margin-bottom: 1rem;
	text-transform: uppercase;
}
