.wp-block-image,
.wp-block-post-featured-image {

	img {
		border-radius: $radius;
	}
}

.wp-block-image {
	margin-top: 2rem;
	margin-bottom: 2rem;

	&.aligncenter {
		width: 100%;
	}
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}