.site-footer {
	background: $dark;
	color: $medium;
	font-family: $font__alt;
	font-size: $typesize__small;
	padding-top: 3rem;
	padding-bottom: 4rem;

	a {
		color: $mediumlight;
		text-decoration-color: transparent;
	}

	.menu-item {
		margin-right: 1rem;
		margin-bottom: 1rem;

		a:hover,
		a:focus {
			text-decoration-color: $mediumdark;
		}
	}

	.menu-item.rss a::after {
		@include icon-style;
		content: $icon-rss;
		margin-left: 0.5em;
		vertical-align: -0.05em;
	}

	@media screen and ($medium-up) {

		.wrap {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
		}

		.menu-item {
			margin-bottom: 0;
		}
	}
}

.footer-navigation .menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.site-info {
	margin-top: 2rem;

	a {
		color: $medium;
		text-decoration-color: rgba($medium, 0.25);

		&:hover,
		&:focus {
			text-decoration-color: rgba($medium, 0.75);
		}
	}
}

.site-footer .buttons {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-top: 1rem;

	@media screen and ($medium-up) {
		margin-top: 0;
	}
}

.toggle-mode {
	background: $mediumdark;
	border: 0;
	border-radius: 2em;
	color: $light;
	display: inline-flex;
	margin-right: 1rem;
	padding: 0.175em 0.25em;

	&:hover,
	&:focus {
		box-shadow: none;
	}

	.icon-sun,
	.icon-moon {
		align-items: center;
		border-radius: 1rem;
		display: flex;
		height: 1.25em;
		justify-content: center;
		padding: 0.05em 0 0.025em;
		width: 1.25em;
	}

	.icon-sun {
		background: $dark;
		margin-right: 0.125rem;
	}

	.icon-moon {
		color: $black;
	}
}