.site-footer {
	background: $dark;
	color: $mediumdark;
	padding-top: 3rem;
	padding-bottom: 4rem;

	.wrap {
		display: flex;
		flex-wrap: wrap;
	}

	a {
		color: $mediumlight;
		text-decoration: none;
	}

	.menu-item {
		margin-right: 1rem;
	}

	.menu-item a:before {
		display: none; // don't display icons
	}
}

.footer-navigation .menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 0 2rem;
	padding-left: 0;
}

.site-info {
	width: 100%;

	a {
		border-bottom: 2px solid rgba($mediumdark, 0.25);
		color: $mediumdark;

		&:hover,
		&:focus {
			border-color: rgba($mediumdark, 0.75);
		}
	}
}

.back-to-top {
	margin-left: auto;

	.icon-arrow {
		transform: rotate(-90deg);
		display: inline-block;
	}
}