
/*--------------------------------------------------------------
## Site Header
--------------------------------------------------------------*/

.site-header {
	align-items: center;
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;

	a {
		letter-spacing: 0.05em;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.site-title {
	font-weight: bold;
	margin: 0 1rem 0 0;
}


/*--------------------------------------------------------------
## Main Nav (Drawer)
--------------------------------------------------------------*/

.main-navigation {
	margin-left: auto;
	position: fixed;
	top: 0;
	right: 0;

	a {
		color: $light;
		display: block;
		padding: 0.5rem 3rem;
		text-decoration: none;

		&:hover,
		&:focus {
			background: $dark;
		}
	}

	.menu {
		list-style: none;
		margin-bottom: 3rem;
		padding-left: 0;
	}

	.search-form {
		margin: 2rem 3rem;
	}

	&.toggled {
		z-index: 9;
	}

	@media screen and ($medium-up) {
		margin-left: 0;
	}
} // .main-navigation

.main-nav-container {
	background: rgba($dark, 0.92);
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	max-height: 100vh;
	min-width: 16rem;
	opacity: 0;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: all 0.25s ease-out;

	.toggled & {
		opacity: 1;
		transform: translateX(0);
	}
}


/*--------------------------------------------------------------
## Menu Toggle
--------------------------------------------------------------*/

$button-width: 3rem;
$bar-thickness: $button-width * 0.0375;
$transition-duration: 0.15s;
$bar-color: $dark;
$bar-color-open: $light;

.menu-toggle {
	display: block;
	float: right;
	height: $button-width;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	position: relative;
	width: $button-width;
	z-index: 9;
}

.menu-toggle .icon {
	background: $bar-color; // middle-bar
	display: block;
	height: $bar-thickness;
	position: absolute;
	top: 1.5rem;
	transition: background 0s $transition-duration;
	left: 0.75rem;
	right: 0.75rem;

	// top and bottom bars
	&::before,
	&::after {
		background-color: $bar-color;
		content: '';
		display: block;
		height: $bar-thickness;
		left: 0;
		position: absolute;
		transition-duration: $transition-duration, $transition-duration;
		transition-delay: $transition-duration, 0s;
		width: 100%;
	}

	&::before {
		top: -0.45rem;
		transition-property: top, transform;
	}

	&::after {
		bottom: -0.45rem;
		transition-property: bottom, transform;
	}

	.toggled & {
		background: none; // remove middle bar

		&::before {
			top: 0;
			transform: rotate(45deg);
		}

		&::after {
			bottom: 0;
			transform: rotate(-45deg);
		}

		&::before,
		&::after {
			background-color: $bar-color-open;
			transition-delay: 0s, $transition-duration;
		}
	}
} // .menu-toggle .icon


/*--------------------------------------------------------------
## Desktop Nav
--------------------------------------------------------------*/

.desktop-navigation {
	display: none;

	ul {
		display: flex;
		list-style: none;
		padding-left: 0;
	}

	a {
		color: $mediumdark;
		display: block;
		margin-right: 1rem;
		text-decoration: none;
	}

	a:hover,
	a:focus,
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $dark;
	}

	@media screen and ($medium-up) {
		display: block;
	}
}

.desktop-search {
	display: none;
	margin-left: auto;

	@media screen and ($large-up) {
		display: block;
	}
}

