/*--------------------------------------------------------------
## Main Nav
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20rem;

	a {
		display: block;
		text-decoration: none;

		&:hover,
		&:focus {
		}
	}

	&.toggled {
		z-index: 9;
	}
} // .main-navigation

.main-nav-container {
	background: rgba(black, 0.95);
	max-height: 100vh;
	min-width: 16rem;
	opacity: 0;
	overflow-y: auto;
	padding: 1rem;
	transform: translateX(100%);
	transition: all 0.25s ease-out;

	// fixed position to prevent overflow issues in iOS
	position: fixed;
	top: 0;
	right: 0;

	.toggled & {
		opacity: 1;
		transform: translateX(0);
	}
}

/*--------------------------------------------------------------
## Menu Toggle
--------------------------------------------------------------*/

.menu-toggle {
	cursor: pointer;
	display: block;
	float: right;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	position: relative;
	z-index: 9;

	&::after {
		content: 'Menu';
		font-size: 0.675rem;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.toggled & {
			content: 'Close';
		}
	}
}


/*--------------------------------------------------------------
## Desktop Nav
--------------------------------------------------------------*/

.desktop-navigation {
	display: none;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	@media screen and ($medium-up) {
		display: block;
	}
}

.desktop-search {
	display: none;

	@media screen and ($medium-up) {
		display: block;
	}
}

