.comment-navigation,
.posts-navigation,
.post-navigation {
	margin: 0 0 1.5em;

	.nav-links {
		align-items: center;
		display: flex;
	}
}

.comment-navigation,
.post-navigation {

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.posts-navigation {

	.nav-links {
		justify-content: flex-end;
	}

	.nav-next {
		margin-left: 1rem;
	}
}

.nav-title {
	border-bottom: 2px solid transparent;
	font-family: $font__alt;
	margin: 0 0.5rem;
	padding-top: 0.025em;
	transition: all 0.125s;

	a &:hover,
	a &:focus {
		border-color: $medium;
	}

	@media screen and ($small-down) {
		font-size: $typesize__tiny;
	}
}

.nav-links a,
.return-link a,
.archive-link a {
	align-items: center;
	display: inline-flex;
	letter-spacing: $font__letter-spacing;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-links,
.return-link {
	padding-top: 2rem;
	padding-bottom: 2rem;

	a {
		font-size: $typesize__small;
	}

	.icon-arrow {
		font-size: 1.25rem;
	}
}

.post-navigation + .return-link {
	border-top: 1px solid $color__background-hr;
}

.archive-link {
	font-size: $typesize__tiny;
	margin-top: 1rem;
}


/*--------------------------------------------------------------
## Taxonomy Term Links
--------------------------------------------------------------*/

.tags-links a {
	@include button('tag');
}
