

.comment-navigation,
.post-navigation {
	margin: 0 0 1.5em;
}

.nav-links {
	align-items: center;
	display: flex;
	justify-content: space-between;

	> * {
		flex: 1;
	}

	.single & {
		flex-direction: row-reverse;
	}
}

.pagination {
	margin: 0 0 1.5em;

	&-numbers {
		display: none;

		@media screen and ($medium-up) {
			display: flex;
			justify-content: center;
		}
	}
}

.page-numbers {
	@include button('tag');
	margin-bottom: 0;
	margin-right: 0.125rem;
	margin-left: 0.125rem;

	&.current {
		background: var(--color__background-alt);
		border-color: transparent;
	}
}


/*--------------------------------------------------------------
## Prev/Next & Return Links
--------------------------------------------------------------*/

.nav-title {
	font-weight: bold;
}

.nav-label {
	font-family: var(--font__alt);
	font-size: $typesize__small;
	letter-spacing: $font__letter-spacing;
	padding-top: 0.25em;
	text-transform: uppercase;
	transition: all 0.125s;

	@media screen and ($small-down) {
		font-size: $typesize__tiny;
	}
}

.nav-previous a,
.nav-next a,
.return-link a {
	display: inline-flex;
	text-decoration: none;
}

.nav-previous,
.nav-next,
.return-link {
	padding-top: 2rem;
	padding-bottom: 2rem;

	.icon-arrow {
		font-size: 1.25rem;
	}
}

.post-navigation + .return-link {
	border-top: 1px solid var(--color__background-hr);
}


/*--------------------------------------------------------------
## Prev/Next
--------------------------------------------------------------*/

.nav-previous,
.nav-next {
	align-content: center;
	display: flex;
}

.nav-previous a,
.nav-next a {
	flex-direction: column;
	position: relative;

	&::before {
		@include icon-style;
		font-size: 1.25rem;
		position: absolute;
		top: 0;
		transition: all 0.125s;
		transform: translateX(0);

		@media screen and ($medium-up) {
			top: 0.125em;
		}
	}
}

.nav-next a {
	align-items: flex-start;
	padding-left: 1.75rem; // make space for icon

	&::before {
		content: $icon-arrow-left;
		left: 0;
		padding-right: 0.5em;
	}

	&:hover::before,
	&:focus::before {
		transform: translateX(-0.25rem);
	}
}

.nav-previous {
	justify-content: end;

	a {
		margin-left: auto; // safari
		padding-right: 1.75rem; // make space for icon
		text-align: right;

		&::before {
			content: $icon-arrow-right;
			padding-left: 0.5em;
			right: 0;
		}

		&:hover::before,
		&:focus::before {
			transform: translateX(0.25rem);
		}
	}
}


/*--------------------------------------------------------------
## Return Links
--------------------------------------------------------------*/

.return-link {

	a {
		align-items: center;
	}

	.nav-label {
		margin: 0 0.5rem;
	}
}


/*--------------------------------------------------------------
## Taxonomy Term Links
--------------------------------------------------------------*/

.tags-links a {
	@include button('tag');
}
