.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


/*--------------------------------------------------------------
## Taxonomy Term Links
--------------------------------------------------------------*/

.page-header .menu {
	list-style: none;
	margin: 0;
	padding: 0;

	&-item {
		display: inline-block;

		a {
			@include button('tag');
		}
	}
}

.tags-links a {
	@include button('tag');
}