
/*--------------------------------------------------------------
## Page Header Title & Description
--------------------------------------------------------------*/

.page-header {
	padding-top: 3rem;
	margin-bottom: 2rem;

	@media screen and ($large-up) {
		padding-top: 4rem;

		.page-title,
		p {
			margin-top: 0;
		}

		.page-title {
			margin-right: 2rem;
		}

		.widget_text {
			align-items: baseline;
			display: flex;
		}

		.textwidget {
			flex: 1;
		}
	}
} // .page-header


/*--------------------------------------------------------------
## Taxonomy Term Links Nav
--------------------------------------------------------------*/

.page-header .menu {
	list-style: none;
	margin: 0;
	padding: 0;


	&-item {
		display: inline-block;

		a {
			@include button('tag');
		}
	}

	.current-menu-item a {
		background: $white;
		border-color: transparent;
	}

	@media screen and ($large-down) {
		display: flex;
		margin-right: -1rem;
		overflow-x: auto;
		padding-bottom: 0.5rem;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
	}
}