
/*--------------------------------------------------------------
## Containers / Wrapping
--------------------------------------------------------------*/

.site-header .wrap,
.site-main {
	padding-left: 1rem;
	padding-right: 1rem;
}

.site-main {
	@include wrap($size__site-main);
	padding-bottom: 4rem;
}

.entry-header,
.entry-content,
.entry-footer,
.comments-area,
.secondary-content {
	@include wrap;
}

.wrap,
.site-info {
	@include wrap($size__site-main);
	padding-left: 1rem;
	padding-right: 1rem;
}

.full-width {
	@include full-width;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

html {
	overflow-x: hidden;
}

// compensate for <body> having position: relative
#wpadminbar {
	transform: translateY(-100%);
}


/*--------------------------------------------------------------
## Body Copy
--------------------------------------------------------------*/

.entry-content .more-link {
	display: block;
}


/*--------------------------------------------------------------
## Grids
--------------------------------------------------------------*/

.grid-container {
	@include grid;
}

.post-type-archive-life_character .grid-container,
.post-type-archive-life_favorite .grid-container {
	@include grid('mixed');
}