
/*--------------------------------------------------------------
## Containers / Wrapping
--------------------------------------------------------------*/

.site-header .wrap,
.site-main {
	padding-left: 1rem;
	padding-right: 1rem;
}

.site-main {
	@include wrap;
	padding-bottom: 4rem;
}

.wrap,
.site-info {
	@include wrap($size__site-main);
	padding-left: 1rem;
	padding-right: 1rem;
}

.full-width {
	@include full-width;
}

html {
	overflow-x: hidden;
}


/*--------------------------------------------------------------
## Body Copy
--------------------------------------------------------------*/

.entry-content .more-link {
	display: block;
}


/*--------------------------------------------------------------
## Grids
--------------------------------------------------------------*/

.grid-container {
	@include grid;
}

.post-type-archive-life_character .grid-container,
.post-type-archive-life_favorite .grid-container {
	@include grid('mixed');
}

.latest-content {
	@include grid('three');
}