
/*--------------------------------------------------------------
## Containers / Wrapping
--------------------------------------------------------------*/

.site-header .wrap,
.site-main {
	padding-left: 1rem;
	padding-right: 1rem;
}

.site-main {
	@include wrap;
	padding-bottom: 4rem;
}

.entry-header,
.comments-area,
.entry-footer {
	@include wrap($size__site-narrow);
	margin-left: auto;
	margin-right: auto;
}

.wrap {
	@include wrap;
	padding-left: 1rem;
	padding-right: 1rem;
}

.full-width {
	@include full-width;
}

html {
	overflow-x: hidden;
}


/*--------------------------------------------------------------
## Body Copy
--------------------------------------------------------------*/

.entry-content {
	p,
	ul,
	ol,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	[class^='wp-block'] {
		@include wrap($size__site-narrow);
		margin-left: auto;
		margin-right: auto;
	}
}


/*--------------------------------------------------------------
## Grids
--------------------------------------------------------------*/

.grid-container {
	@include grid;
}

.post-type-archive-life_character .grid-container,
.post-type-archive-life_favorite .grid-container {
	@include grid('mixed');
}