.aligncenter {
	text-align: center;
}

@media screen and ($small-up) {

	.alignleft {

		/*rtl:ignore*/
		float: left;

		/*rtl:ignore*/
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.alignright {

		/*rtl:ignore*/
		float: right;

		/*rtl:ignore*/
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
}