button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
	transition: all 0.125s;
}

.icon-button {
	background: none;
	border: 0;

	&:hover {
		box-shadow: none;
	}
}

.wp-block-button__link {
	@include button;
}

.wp-block-buttons .wp-block-button {
	display: inline-block;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}