button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
	transition: all 0.125s;
}

.icon-button {
	background: none;
	border: 0;
	font-weight: normal;

	&:hover {
		box-shadow: none;
	}
}

// note: default button block is "fill" style
.wp-block-button__link {
	@include button($style: 'fill');
}

// outline style has silver border
.wp-block-button.is-style-outline > .wp-block-button__link {
	border-color: var(--color__border-button);

	&:hover,
	&:focus {
		border-color: transparent;
	}
}

.wp-block-buttons .wp-block-button {
	display: inline-block;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}