.dark {
	filter: invert(1) hue-rotate(180deg);

	// flip some elements back to normal
	.site-footer,
	img {
		filter: invert(1) hue-rotate(180deg);
	}
}

// allow transition to be smooth
body,
img {
	transition: filter 0.125s;
	will-change: filter;
}