@mixin darkMode() {

	--color__background-body: #{$black};
	--color__background-header: #{$dark};
	--color__background-screen: #{$mediumdark};
	--color__background-hr: #{mix($medium, $mediumdark)};
	--color__background-button: #{$light};
	--color__background-pre: #{$mediumdark};
	--color__background-ins: #{$dark};

	--color__nav-link: #{$medium};
	--color__nav-link-hover: #{darken($mediumlight, 10)};
	--color__breadcrumb-link: #{$medium};
	--color__breadcrumb-hover: #{darken($mediumlight, 10)};
	--color__text-main: #{$light};

	// // tweak color on some elements
	// .site-header,
	// .card {
	// 	background-color: $mediumlight;
	// }

	::selection {
		background-color: $mediumdark;
	}

	.toggle-mode .icon-sun {
		background: transparent;
		color: $black;
	}

	.toggle-mode .icon-moon {
		background: $dark;
		color: $white;
	}
}

// if switcher has added .dark, do Dark Mode
.dark {
	@include darkMode;
}

// if system preference is dark, and switcher hasn't specified .light, do Dark Mode
@media (prefers-color-scheme: dark) {

	html:not(.light) {
		@include darkMode;
	}
}