input,
textarea {
	font-family: $font__alt;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 0;
	border-radius: $radius;
	box-shadow: inset 0px 1px 4px rgba($medium, 0.8);
	color: var(--color__text-input);
	max-width: 100%;
	padding: 0.5rem;

	&:focus {
		color: var(--color__text-input-focus);
	}
}

select {
	box-shadow: inset 0px 1px 4px rgba($medium, 0.8);
}

textarea {
	width: 100%;
}

label {
	font-family: $font__alt;
	font-size: $typesize__small;
	letter-spacing: $font__letter-spacing;
	text-transform: uppercase;
	margin-bottom: 0.25rem;

	+ input {
		display: block;
	}

	.comment-form-cookies-consent & {
		letter-spacing: 0;
		text-transform: none;
	}
}

input[type="search"],
.wp-block-search__input {
	border: 1px solid var(--color__border-input);
}

.wp-block-search {

	.wp-block-search__inside-wrapper {
		display: flex;
		flex: auto;
		flex-wrap: nowrap;
		max-width: 100%;
	}

	.wp-block-search__label {
		width: 100%;
	}

	.wp-block-search__input {
		flex-grow: 1;
		min-width: 3em;
	}
}