hr {
	background-color: var(--color__background-hr);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.wp-block-separator {
	border: none; // reset
	width: 100%; // fixes unexplained invisibility at mobile sizes
}