a {
	color: $color__link;
	text-decoration-color: $color__border-link;
	text-decoration-thickness: 0.075em;
	text-underline-offset: 0.285em;
	transition: all 0.125s;

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		color: $color__link-hover;
		text-decoration-color: $color__border-link-hover;
		outline: 0;
	}

	&:visited {
		color: $color__link-visited;
	}

	.entry-content & {
		font-weight: bold;
	}
}
