a {
	border-bottom: 2px solid $color__border-link;
	color: $color__link;
	text-decoration: none;
	transition: all 0.125s;

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		border-color: $color__border-link-hover;
		outline: 0;
	}

	.site-header &,
	.site-footer &,
	&.thumbnail,
	&.post-thumbnail {
		border: 0;
	}
}
