/* Make sure videos, embeds, and iframes fit their containers. */
video,
embed,
iframe,
object {
	max-width: 100%;
}

// responsive youtube & vimeo embeds
.is-provider-youtube .wp-block-embed__wrapper,
.is-provider-vimeo .wp-block-embed__wrapper {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;

	iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 0; // Extra wide images within figure tags don't overflow the content area.
}