h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: 0.0125em;
	line-height: $font__line-height-heading;
	margin-bottom: 0.5em;

	.site-footer & {
		font-size: $typesize__small;
		font-family: var(--font__alt);
		letter-spacing: 0.075em;
		text-transform: uppercase;
	}
}

h1 {
	font-size: $typesize__h2;

	@media screen and ($medium-up) {
		font-size: $typesize__h1;
	}
}

h2.heading-alt,
h3.heading-alt {
	font-family: var(--font__alt);
	font-size: $typesize__small;
	letter-spacing: $font__letter-spacing;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

h2 {
	font-size: $typesize__h3;

	@media screen and ($medium-up) {
		font-size: $typesize__h2;
	}
}

h3 {
	font-size: $typesize__h4;

	@media screen and ($medium-up) {
		font-size: $typesize__h3;
	}
}

h4 {
	font-size: $typesize__h5;
	font-family: var(--font__alt);
	letter-spacing: $font__letter-spacing;
	text-transform: uppercase;

	@media screen and ($medium-up) {
		font-size: $typesize__h4;
	}
}

h5 {
	font-size: $typesize__h5;
}

h6 {
	font-size: $typesize__h6;
	font-family: var(--font__alt);
	letter-spacing: $font__letter-spacing;
	text-transform: uppercase;
}