$black: #0d0d0d;
$dark: #191919;
$mediumdark: #525252;
$medium: #aaaaaa;
$mediumlight: #e5e5e5;
$light: #f7f7f7;
$white: #ffffff;
$yellow: #f9f3b3;

$color__background-body: $light;
$color__background-footer: $dark;
$color__background-screen: $mediumlight;
$color__background-hr: mix($medium, $mediumlight);
$color__background-button: $light;
$color__background-pre: $mediumlight;
$color__background-ins: $light;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $dark;
$color__border-link: $mediumlight;
$color__border-link-hover: $dark;
$color__text-main: $dark;

$color__border-button: $mediumlight;
$color__border-button-hover: transparent;
$color__border-input: $mediumlight;
$color__border-abbr: #666;
