$black: #0d0d0d;
$dark: #191919;
$mediumdark: #525252;
$medium: #aaaaaa;
$mediumlight: #e5e5e5;
$light: #f7f7f7;
$white: #ffffff;
$yellow: #f9f3b3;
$yellowlight: #fbf7cb;

$rainbow : (
	0: #9E23A5,
	1: #AF2F5B,
	2: #C23F23,
	3: #D65F27,
	4: #EE8A32,
	5: #E4B83E,
	6: #B7B83A,
	7: #A0B438,
	8: #6FAC33,
	9: #4DA698,
	10: #3E87AD,
	11: #265ACC,
	12: #413ACC
);

$color__background-body: $light;
$color__background-alt: $white;
$color__background-screen: $mediumlight;
$color__background-hr: mix($medium, $mediumlight);
$color__background-button: $light;
$color__background-button-fill: $dark;
$color__background-pre: $mediumlight;
$color__background-ins: $light;

$color__button: $dark;
$color__button-fill: $white;
$color__nav-link: $mediumdark;
$color__nav-link-hover: $dark;
$color__breadcrumb-link: lighten($mediumdark, 10);
$color__breadcrumb-hover: $dark;
$color__text-main: $dark;
$color__text-meta: $mediumdark;

$color__text-screen: #21759b;
$color__text-button: $dark;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $dark;
$color__link-hover: $dark;
$color__link-visited: $mediumdark;
$color__border-link: $mediumlight;
$color__border-link-hover: $dark;

$color__border-button: $mediumlight;
$color__border-button-hover: transparent;
$color__border-input: $mediumlight;
$color__border-abbr: #666;

// map css variables to each of our sass color variables
:root {
	--color__background-body: #{$color__background-body};
	--color__background-alt: #{$color__background-alt};
	--color__background-screen: #{$color__background-screen};
	--color__background-hr: #{$color__background-hr};
	--color__background-button: #{$color__background-button};
	--color__background-button-fill: #{$color__background-button-fill};
	--color__background-pre: #{$color__background-pre};
	--color__background-ins: #{$color__background-ins};

	--color__button: #{ $color__button };
	--color__button-fill: #{ $color__button-fill };
	--color__nav-link: #{ $color__nav-link };
	--color__nav-link-hover: #{ $color__nav-link-hover };
	--color__breadcrumb-link: #{ $color__breadcrumb-link };
	--color__breadcrumb-hover: #{ $color__breadcrumb-hover };
	--color__text-main: #{ $color__text-main };
	--color__text-meta: #{ $color__text-meta };

	--color__text-screen: #{ $color__text-screen };
	--color__text-input: #{ $color__text-input };
	--color__text-input-focus: #{ $color__text-input-focus };
	--color__link: #{ $color__link };
	--color__link-hover: #{ $color__link-hover };
	--color__link-visited: #{ $color__link-visited };
	--color__border-link: #{ $color__border-link };
	--color__border-link-hover: #{ $color__border-link-hover };

	--color__border-button: #{ $color__border-button };
	--color__border-button-hover: #{ $color__border-button-hover };
	--color__border-input: #{ $color__border-input };
	--color__border-abbr: #{ $color__border-abbr };
}