$black: #0d0d0d;
$dark: #191919;
$mediumdark: #525252;
$medium: #aaaaaa;
$mediumlight: #e5e5e5;
$light: #f7f7f7;
$white: #ffffff;
$yellow: #f9f3b3;
$yellowlight: #fbf7cb;

$rainbow : (
	0: #9E23A5,
	1: #AF2F5B,
	2: #C23F23,
	3: #D65F27,
	4: #EE8A32,
	5: #E4B83E,
	6: #B7B83A,
	7: #A0B438,
	8: #6FAC33,
	9: #4DA698,
	10: #3E87AD,
	11: #265ACC,
	12: #413ACC
);

$color__background-body: $light;
$color__background-screen: $mediumlight;
$color__background-hr: mix($medium, $mediumlight);
$color__background-button: $light;
$color__background-pre: $mediumlight;
$color__background-ins: $light;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $dark;
$color__link-hover: $dark;
$color__border-link: $mediumlight;
$color__border-link-hover: $dark;
$color__text-main: $dark;

$color__border-button: $mediumlight;
$color__border-button-hover: transparent;
$color__border-input: $mediumlight;
$color__border-abbr: #666;
