$size__site-main: 60rem;
$size__site-narrow: 38rem;
$size__site-wide: 72rem;
$size__site-wider: 120rem;

// breakpoints
$small-down: 'max-width: 45.9rem';
$small-up: 'min-width: 30rem';
$medium-up: 'min-width: 46rem';
$large-up: 'min-width: 64rem';
$large-down: 'max-width: 87.9rem';
$xlarge-up: 'min-width: 88rem';
$xxlarge-up: 'min-width: 102rem';

$radius: 0.75rem;
$radius-sm: 0.25rem;