@font-face {
	font-family: 'XCharter';
	src: url('../fonts/xcharter/xcharter-roman-webfont.woff2') format('woff2'),
		 url('../fonts/xcharter/xcharter-roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'XCharter';
	src: url('../fonts/xcharter/xcharter-italic-webfont.woff2') format('woff2'),
		 url('../fonts/xcharter/xcharter-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'XCharter';
	src: url('../fonts/xcharter/xcharter-bold-webfont.woff2') format('woff2'),
		 url('../fonts/xcharter/xcharter-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'XCharter';
	src: url('../fonts/xcharter/xcharter-bolditalic-webfont.woff2') format('woff2'),
		 url('../fonts/xcharter/xcharter-bolditalic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/avenir/avenir-roman-webfont.woff2') format('woff2'),
		 url('../fonts/avenir/avenir-roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$font__main: XCharter, serif;
$font__alt: Avenir, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-heading: 1;
$font__line-height-pre: 1.6;
$font__letter-spacing: 0.075em;


// Type scale = Major Third

$typesize__h1: 3.052rem;
$typesize__h2: 2.441rem;
$typesize__h3: 1.953rem;
$typesize__h4: 1.563rem;
$typesize__h5: 1.25rem;
$typesize__h6: 1rem;

$typesize__huge: $typesize__h2;
$typesize__large: $typesize__h3;
$typesize__medium: $typesize__h4;
$typesize__normal: $typesize__h5;
$typesize__small: 0.8rem;
$typesize__tiny: 0.64rem;