@font-face {
	font-family: 'Inter var';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('../fonts/inter/Inter-roman.var.woff2?v=3.19') format('woff2');
	font-named-instance: 'Regular';
}

@font-face {
	font-family: 'Inter var';
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('../fonts/inter/Inter-italic.var.woff2?v=3.19') format('woff2');
	font-named-instance: 'Italic';
}

$font__main: 'Inter var', sans-serif;
$font__alt: $font__main;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-heading: 1.125;
$font__line-height-pre: 1.6;
$font__letter-spacing: 0.1em;

// map css variables to each of our sass font variables
:root {
	--font__main: #{$font__main};
	--font__alt: #{$font__alt};
}


// Type scale = Perfect Fourth

$typesize__h1: 2.488rem;
$typesize__h2: 2.074rem;
$typesize__h3: 1.728rem;
$typesize__h4: 1.44rem;
$typesize__h5: 1.2rem;
$typesize__h6: 1rem;

$typesize__huge: $typesize__h2;
$typesize__large: $typesize__h3;
$typesize__medium: $typesize__h4;
$typesize__normal: $typesize__h5;
$typesize__base: $typesize__h6;
$typesize__small: 0.833rem;
$typesize__tiny: 0.694rem;